/Client/Client/nbproject/private/
/FileServer/FileServer/nbproject/private/
/MasterServer/build/
/FileServer/MasterServer/nbproject/private/
/MasterServer/nbproject/private/
/FileServer/MasterServer/build/
/FileServer/FileServer/build/
/New folder/MasterServer/build/
/New folder/MasterServer/nbproject/private/
/MasterServer/MasterServer/build/
/MasterServer/MasterServer/nbproject/private/
/Client/Client/build/
/source code/FileServer/FileServer/dist/
/source code/MasterServer/MasterServer/dist/
/source code/Client/Client/dist/
